/* AdminGuides.css */
.admin-guides-page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: sans-serif;
    margin: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.guides-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    flex: 1;
}

.guide-card {
    width: 400px;
    margin: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    background-color: white;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    position: relative;
}

.guide-card p {
    margin-bottom: 5px;
}
.guide-image {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.delete-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #dc3545;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.delete-button:hover {
    background-color: #c12a36;
}

.add-guide-form {
    width: 400px;
    margin: 20px auto;
    border: 1px solid #ddd;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
}

.add-guide-form input,
.add-guide-form textarea {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}
.add-guide-form textarea {
  height: 100px; /* Set a height for the textarea */
  resize: vertical; /* Allow vertical resizing */
}

.add-guide-form button {
    padding: 10px 20px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.add-guide-form button:first-of-type {
    background-color: #007bff;
    color: white;
}

.add-guide-form button:last-of-type {
    background-color: #6c757d;
    color: white;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    margin-top: auto;
    width: 100%;
}